*{
    margin: 0; 
    padding: 0;
}
/* My Style */
.container-fluid {
    margin-top: 30px;
}

.formLogin {
    border: 1px solid #ccccccb3;
    border-radius: 0.25rem;
    box-shadow: 1px 3px 2px #adadad;
    margin: 80px 0 20px 0;
    padding: 30px 20px;
    background: #f6f6f6;
    -webkit-animation: mymove 1.25s; /* Safari 4.0 - 8.0 */
    animation: mymove 1.25s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {top: -80px; background: #fff; opacity: 0.3;}
    to {top: 0px; background: #f6f6f6; opacity: 1;}
}

/* Standard syntax */
@keyframes mymove {
    from {top: -80px; background: #fff; opacity: 0.3;}
    to {top: 0px; background: #f6f6f6; opacity: 1;}
}

.btnLogin{
    display: block;
    margin: auto;
    margin-top: 15px;
    padding: 7px 20px;
}

li.submenu.active{
    color: #FFF;
    background-color: #414d58;
    text-decoration: none;
    border-left: 2px solid #608ab3;
}

/* === searchEmployee.jsp === */
.btn-search{
    margin-top: 20px;
}

/* === processEmployee.jsp === */
.btnAction {
    display: block;
    margin: auto;
    margin-top: 35px;
}